In [4]:
import pymysql
import pandas as pd
import getpass

# 数据库连接配置
db_config = {
    'host': 'localhost',
    'port': 3306,
    'database': 'bookstore_homework_week10',
    'charset': 'utf8mb4'
}

# 获取用户名和密码
db_config['user'] = input("请输入数据库用户名: ")
db_config['password'] = getpass.getpass("请输入数据库密码: ")

# 创建数据库连接
try:
    conn = pymysql.connect(**db_config)
    print("数据库连接成功！")
except pymysql.Error as e:
    print(f"数据库连接失败: {e}")

数据库连接成功！

In [ ]:
# 1.	使用pymysql访问数据库。
# （1）	查询显示所有出版社的信息。

In [5]:
try:
    with conn.cursor() as cursor:
        # 查询所有出版社信息
        sql = "SELECT * FROM publisher ORDER BY PublisherCode"
        cursor.execute(sql)
        publishers = cursor.fetchall()

        # 获取列名
        columns = [desc[0] for desc in cursor.description]

        # 打印结果
        print(f"{'出版社代码':<10}{'出版社名称':<25}{'联系电话':<20}")
        print("-" * 55)

        for publisher in publishers:
            publisher_code = publisher[0] if publisher[0] else ""
            publisher_name = publisher[1] if publisher[1] else ""
            telephone = publisher[2] if publisher[2] else ""

            print(f"{publisher_code:<10}{publisher_name:<25}{telephone:<20}")

        print("-" * 55)
        print(f"共查询到 {len(publishers)} 条出版社记录")

except pymysql.Error as e:
    print(f"查询失败: {e}")

出版社代码     出版社名称                    联系电话
-------------------------------------------------------
01        高等教育出版社                  010-24243255
02        机械工业出版社                  010-98643234
03        电子工业出版社                  010-34987644
10        上海译文出版社                  080-23254365
11        文化艺术出版社                  010-32551515
12        大众文艺出版社                  010-23456433
13        作家出版社                    051-35325325
21        上海外国语出版社                 021-35325325
31        东华大学出版社                  021-62378989
-------------------------------------------------------
共查询到 9 条出版社记录

In [ ]:
# （2）	查询各本书的书号、书名、作者和出版社名，并传递给Pandas。

In [6]:
try:
    with conn.cursor() as cursor:
        # 查询图书和出版社信息
        sql = """
        SELECT b.BookCode, b.BookName, b.Author, p.Publisher
        FROM book b
        INNER JOIN publisher p ON b.PublisherCode = p.PublisherCode
        ORDER BY b.BookCode
        """
        cursor.execute(sql)
        results = cursor.fetchall()

        # 获取列名
        columns = [desc[0] for desc in cursor.description]

        # 转换为Pandas DataFrame
        df = pd.DataFrame(list(results), columns=columns)

        # 显示DataFrame
        print(f"共查询到 {len(df)} 本图书")
        display(df)

except pymysql.Error as e:
    print(f"查询失败: {e}")

共查询到 30 本图书

   BookCode                  BookName     Author Publisher
0      0101                      大学英语        周梅森  上海外国语出版社
1      0102                      大学日语         罗中  上海外国语出版社
2      0103                      英文写作         高阳   文化艺术出版社
3      0201                      计算方法        曹雪麟   机械工业出版社
4      0202                      高等数学        姜洪理   高等教育出版社
5      0203                      线性代数         曹鸣   东华大学出版社
6      0301                         飘   玛格丽特.米切尔     作家出版社
7      0302                       简·爱    夏洛特·勃良特     作家出版社
8      0303                        情书       岩井俊二   文化艺术出版社
9      0304                     星星的金币      龙居由佳里   大众文艺出版社
10     0305                     挪威的森林       村上春树   大众文艺出版社
11     0306                        神曲         但丁   上海译文出版社
12     0307                       西游记        吴承恩   大众文艺出版社
13     0401        百家讲坛-国学智慧与当下生活\r\n        张晓杰   高等教育出版社
14     0402              生活简单就是享受\r\n     （美）詹姆斯   电子工业出版社
15     0403                     养生的智慧        樊正伦   上海译文出版社
16     0501     生活教养第一书·小鼠宝贝成长日记（12本）       卡萨利斯   机械工业出版社
17     0502               斯凯瑞金色童书·第一辑   （美）斯凯瑞 著   文化艺术出版社
18     0503                迪士尼公主故事精选集      美国迪士尼   大众文艺出版社
19     0504               小兔汤姆系列（第一辑）  玛莉-阿丽娜·巴文     作家出版社
20     0601            体育赛事运作管理手册\r\n        刘清早   高等教育出版社
21     0602                 体育知识通\r\n         李强   机械工业出版社
22     0701                      机械原理        王实甫   机械工业出版社
23     0801                    VB程序设计         海岩   高等教育出版社
24     0802                   C语言程序设计        红利理   电子工业出版社
25     0803                信息系统与数据库技术        刘晓强   机械工业出版社
26     0901                 中国社会各阶层分析        梁晓声   文化艺术出版社
27     0902         社会心理学（第8版）中文版\r\n  （美）戴维·迈尔斯   文化艺术出版社
28     1001       心理学与生活（第16版）中文版\r\n    格里格，津巴多   上海译文出版社
29     1002  你其实不懂经济学（你不知道的经济学真相）\r\n        康海波   高等教育出版社

In [ ]:
# （3）	根据用户输入的出版社名称和时间，查询该社在该时间以后出版的所有图书的书号、书名、作者和出版社名和出版时间。

In [7]:
# 获取用户输入
publisher_name = input("请输入出版社名称: ").strip()
date_str = input("请输入日期(格式: YYYY-MM-DD): ").strip()

try:
    # 验证日期格式
    from datetime import datetime
    publish_date = datetime.strptime(date_str, "%Y-%m-%d").date()
except ValueError:
    print("日期格式错误，请使用YYYY-MM-DD格式")
    raise

try:
    with conn.cursor() as cursor:
        # 先查询出版社代码
        sql = "SELECT PublisherCode FROM publisher WHERE Publisher = %s"
        cursor.execute(sql, (publisher_name,))
        publisher_code = cursor.fetchone()

        if not publisher_code:
            print(f"未找到出版社: {publisher_name}")
            raise ValueError("出版社不存在")

        # 查询该出版社在指定日期后出版的图书
        sql = """
        SELECT b.BookCode, b.BookName, b.Author, p.Publisher, b.PublishTime
        FROM book b
        INNER JOIN publisher p ON b.PublisherCode = p.PublisherCode
        WHERE b.PublisherCode = %s AND b.PublishTime > %s
        ORDER BY b.PublishTime DESC
        """
        cursor.execute(sql, (publisher_code[0], publish_date))
        results = cursor.fetchall()

        if not results:
            print(f"未找到{publisher_name}在{date_str}之后出版的图书")
        else:
            # 打印结果
            print(f"\n{publisher_name}在{date_str}之后出版的图书:")
            print("-" * 80)
            print(f"{'书号':<10}{'书名':<25}{'作者':<15}{'出版社':<20}{'出版时间':<12}")
            print("-" * 80)

            for book in results:
                book_code = book[0] if book[0] else ""
                book_name = book[1][:20] + "..." if len(str(book[1])) > 20 else book[1] if book[1] else ""
                author = book[2][:12] + "..." if len(str(book[2])) > 12 else book[2] if book[2] else ""
                publisher = book[3] if book[3] else ""
                publish_time = book[4].strftime("%Y-%m-%d") if book[4] else ""

                print(f"{book_code:<10}{book_name:<25}{author:<15}{publisher:<20}{publish_time:<12}")

            print("-" * 80)
            print(f"共查询到 {len(results)} 条记录")

except pymysql.Error as e:
    print(f"查询失败: {e}")

东华大学出版社在2000-01-01之后出版的图书:
--------------------------------------------------------------------------------
书号        书名                       作者             出版社                 出版时间
--------------------------------------------------------------------------------
0203      线性代数                     曹鸣             东华大学出版社             2008-05-01
--------------------------------------------------------------------------------
共查询到 1 条记录

In [ ]:
# （4）	根据用户输入的图书类别和降价比例，将该类图书价格重新设定。

In [8]:
# 获取用户输入
book_sort = input("请输入图书类别: ").strip()
discount_ratio = input("请输入降价比例(0-1, 例如0.9表示9折): ").strip()

# 验证降价比例
try:
    discount_ratio = float(discount_ratio)
    if discount_ratio <= 0 or discount_ratio > 1:
        raise ValueError
except ValueError:
    print("降价比例必须是0到1之间的数字")
    raise

try:
    with conn.cursor() as cursor:
        # 检查图书类别是否存在
        sql = "SELECT COUNT(*) FROM book WHERE BookSort = %s"
        cursor.execute(sql, (book_sort,))
        count = cursor.fetchone()[0]

        if count == 0:
            print(f"未找到类别为'{book_sort}'的图书")
            raise ValueError("图书类别不存在")

        # 获取更新前的价格信息
        sql = "SELECT BookCode, BookName, Price FROM book WHERE BookSort = %s"
        cursor.execute(sql, (book_sort,))
        books_before = cursor.fetchall()

        # 开始事务
        conn.begin()

        # 更新图书价格
        sql = """
        UPDATE book
        SET Price = ROUND(Price * %s, 2)
        WHERE BookSort = %s
        """
        cursor.execute(sql, (discount_ratio, book_sort))

        # 获取更新后的价格信息
        sql = "SELECT BookCode, BookName, Price FROM book WHERE BookSort = %s"
        cursor.execute(sql, (book_sort,))
        books_after = cursor.fetchall()

        # 显示更新详情
        print("\n价格更新详情:")
        print("-" * 60)
        print(f"{'书号':<10}{'书名':<20}{'原价':<10}{'新价':<10}")
        print("-" * 60)

        for i in range(len(books_before)):
            book_code = books_before[i][0]
            book_name = books_before[i][1][:15] + "..." if len(str(books_before[i][1])) > 15 else books_before[i][1]
            old_price = books_before[i][2]
            new_price = books_after[i][2]

            print(f"{book_code:<10}{book_name:<20}{old_price:<10.2f}{new_price:<10.2f}")

        print("-" * 60)

        # 确认提交
        confirm = input("确认提交价格更新? (y/n): ").lower()
        if confirm == 'y':
            conn.commit()
            print(f"已将{count}本'{book_sort}'类图书价格调整为原价的{discount_ratio*100:.0f}%")
        else:
            conn.rollback()
            print("操作已回滚，未进行任何更改")

except Exception as e:
    conn.rollback()
    print(f"更新失败: {e}")

价格更新详情:
------------------------------------------------------------
书号        书名                  原价        新价
------------------------------------------------------------
0301      飘                   30.00     27.00
0302      简·爱                 36.50     32.85
0303      情书                  30.00     27.00
0304      星星的金币               30.00     27.00
0305      挪威的森林               37.00     33.30
0306      神曲                  30.00     27.00
0307      西游记                 70.00     63.00
------------------------------------------------------------
已将7本'文学'类图书价格调整为原价的90%

In [ ]:
# （5）	向publisher表插入一条出版社记录。

In [9]:
# 获取用户输入
publisher_code = input("请输入出版社代码(2位字符): ").strip()
publisher_name = input("请输入出版社名称: ").strip()
telephone = input("请输入联系电话: ").strip()

# 验证出版社代码格式
if len(publisher_code) != 2:
    print("出版社代码必须是2位字符")
    raise ValueError("出版社代码格式错误")

try:
    with conn.cursor() as cursor:
        # 检查出版社代码是否已存在
        sql = "SELECT COUNT(*) FROM publisher WHERE PublisherCode = %s"
        cursor.execute(sql, (publisher_code,))
        if cursor.fetchone()[0] > 0:
            print(f"出版社代码'{publisher_code}'已存在")
            raise ValueError("出版社代码已存在")

        # 检查出版社名称是否已存在
        sql = "SELECT COUNT(*) FROM publisher WHERE Publisher = %s"
        cursor.execute(sql, (publisher_name,))
        if cursor.fetchone()[0] > 0:
            print(f"出版社名称'{publisher_name}'已存在")
            raise ValueError("出版社名称已存在")

        # 插入新出版社
        sql = "INSERT INTO publisher (PublisherCode, Publisher, Telephone) VALUES (%s, %s, %s)"
        cursor.execute(sql, (publisher_code, publisher_name, telephone))
        conn.commit()

        print(f"成功添加出版社: {publisher_name} (代码: {publisher_code})")

        # 显示添加后的记录
        sql = "SELECT * FROM publisher WHERE PublisherCode = %s"
        cursor.execute(sql, (publisher_code,))
        new_publisher = cursor.fetchone()

        print("\n添加后的出版社记录:")
        print("-" * 60)
        print(f"{'出版社代码':<10}{'出版社名称':<25}{'联系电话':<20}")
        print("-" * 60)
        print(f"{new_publisher[0]:<10}{new_publisher[1]:<25}{new_publisher[2]:<20}")
        print("-" * 60)

except Exception as e:
    conn.rollback()
    print(f"插入失败: {e}")

成功添加出版社: 中华书局 (代码: 32)

添加后的出版社记录:
------------------------------------------------------------
出版社代码     出版社名称                    联系电话
------------------------------------------------------------
32        中华书局                     18278272727
------------------------------------------------------------

In [10]:
# 关闭数据库连接
if conn.open:
    conn.close()
    print("数据库连接已关闭")

数据库连接已关闭

In [ ]:
# 2.	使用Pandas访问数据库。
# （1）	查询各本书的书号、书名、作者和出版社名，并传递给Pandas。

In [12]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text

engine = create_engine(
    'mysql+mysqlconnector://root:root@localhost:3306/bookstore_homework_week10',
    pool_recycle=3600,  # 每小时回收连接，避免超时问题
    connect_args={'auth_plugin': 'mysql_native_password'}  # 指定认证插件
)

query1 = """
SELECT b.BookCode, b.BookName, b.Author, p.Publisher
FROM book b
JOIN publisher p ON b.PublisherCode = p.PublisherCode
"""

try:
    df_books = pd.read_sql(query1, engine)
    print("===== 功能(1)结果：各本书的书号、书名、作者和出版社名 =====")
    print(f"共查询到 {len(df_books)} 条记录\n")
    print(df_books)
    print("\n")
except Exception as e:
    print(f"功能(1)查询出错: {e}")

===== 功能(1)结果：各本书的书号、书名、作者和出版社名 =====
共查询到 30 条记录

   BookCode                  BookName     Author Publisher
0      1002  你其实不懂经济学（你不知道的经济学真相）\r\n        康海波   高等教育出版社
1      0601            体育赛事运作管理手册\r\n        刘清早   高等教育出版社
2      0202                      高等数学        姜洪理   高等教育出版社
3      0401        百家讲坛-国学智慧与当下生活\r\n        张晓杰   高等教育出版社
4      0801                    VB程序设计         海岩   高等教育出版社
5      0701                      机械原理        王实甫   机械工业出版社
6      0501     生活教养第一书·小鼠宝贝成长日记（12本）       卡萨利斯   机械工业出版社
7      0803                信息系统与数据库技术        刘晓强   机械工业出版社
8      0201                      计算方法        曹雪麟   机械工业出版社
9      0602                 体育知识通\r\n         李强   机械工业出版社
10     0802                   C语言程序设计        红利理   电子工业出版社
11     0402              生活简单就是享受\r\n     （美）詹姆斯   电子工业出版社
12     1001       心理学与生活（第16版）中文版\r\n    格里格，津巴多   上海译文出版社
13     0403                     养生的智慧        樊正伦   上海译文出版社
14     0306                        神曲         但丁   上海译文出版社
15     0902         社会心理学（第8版）中文版\r\n  （美）戴维·迈尔斯   文化艺术出版社
16     0901                 中国社会各阶层分析        梁晓声   文化艺术出版社
17     0303                        情书       岩井俊二   文化艺术出版社
18     0103                      英文写作         高阳   文化艺术出版社
19     0502               斯凯瑞金色童书·第一辑   （美）斯凯瑞 著   文化艺术出版社
20     0304                     星星的金币      龙居由佳里   大众文艺出版社
21     0307                       西游记        吴承恩   大众文艺出版社
22     0503                迪士尼公主故事精选集      美国迪士尼   大众文艺出版社
23     0305                     挪威的森林       村上春树   大众文艺出版社
24     0301                         飘   玛格丽特.米切尔     作家出版社
25     0302                       简·爱    夏洛特·勃良特     作家出版社
26     0504               小兔汤姆系列（第一辑）  玛莉-阿丽娜·巴文     作家出版社
27     0101                      大学英语        周梅森  上海外国语出版社
28     0102                      大学日语         罗中  上海外国语出版社
29     0203                      线性代数         曹鸣   东华大学出版社

In [ ]:
# （2）	根据用户输入的出版社名称和时间，查询该社在该时间以后出版的所有图书的书号、书名、作者和出版社名和出版时间。

In [13]:
# 获取用户输入
pub_name = input("请输入出版社名称: ")
pub_time = input("请输入时间 (格式: YYYY-MM-DD，例如: 2010-01-01): ")
# 查询该出版社在指定时间后出版的所有图书
query2 = """
SELECT b.BookCode, b.BookName, b.Author, p.Publisher, b.PublishTime
FROM book b
JOIN publisher p ON b.PublisherCode = p.PublisherCode
WHERE p.Publisher = %s AND b.PublishTime > %s
"""
params = (pub_name, pub_time)
df_new_books = pd.read_sql(query2, engine, params=params)
if not df_new_books.empty:
    print(f"\n{pub_name}在{pub_time}以后出版的图书:")
    print(f"共查询到 {len(df_new_books)} 条记录")
    print(df_new_books)
else:
    print(f"\n没有找到{pub_name}在{pub_time}以后出版的图书。")

东华大学出版社在2000-01-01以后出版的图书:
共查询到 1 条记录
  BookCode BookName Author Publisher PublishTime
0     0203     线性代数     曹鸣   东华大学出版社  2008-05-01

In [ ]:
# （3）	将（2）中查询的图书数据写入一个新的数据表newbook

In [14]:
try:
    with engine.connect() as conn:
        # 使用text()包装SQL语句
        conn.execute(text("DROP TABLE IF EXISTS newbook"))
        create_table_sql = """
        CREATE TABLE newbook (
          BookCode char(4) NOT NULL,
          BookName varchar(50) NOT NULL,
          Author varchar(30) NOT NULL,
          PublisherCode char(2) NOT NULL,
          PublishTime date NOT NULL,
          BookSort char(8) DEFAULT NULL,
          ISBN char(17) DEFAULT NULL,
          BookPicture varchar(50) DEFAULT NULL,
          ContentIntro text,
          Price decimal(5,2) NOT NULL,
          Discount decimal(3,2) NOT NULL DEFAULT '1.00',
          PRIMARY KEY (BookCode),
          UNIQUE KEY BookName (BookName) USING BTREE,
          KEY BookSort (BookSort),
          KEY PublisherCode (PublisherCode, PublishTime) USING BTREE,
          CONSTRAINT newbook_ibfk_1 FOREIGN KEY (PublisherCode) REFERENCES publisher (PublisherCode)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8
        """
        conn.execute(text(create_table_sql))
    print("✅ newbook表已成功创建（结构与book表完全相同）")
except Exception as e:
    print(f"❌ 创建newbook表出错: {e}")
    # 如果表创建失败，不应该继续插入数据
    print("⚠️ 由于表创建失败，无法插入数据")
    # 清空df_new_books防止后续错误插入
    df_new_books = pd.DataFrame()
    # 直接返回，不再尝试插入
    print("跳过数据插入步骤")
else:
    # 2. 如果第(2)问有查询结果，获取完整图书数据并插入newbook表
    if not df_new_books.empty:
        try:
            # 获取查询到的图书BookCode列表
            book_codes = tuple(df_new_books['BookCode'])
            # 处理单个BookCode的特殊情况（SQL语法要求）
            if len(book_codes) == 1:
                book_codes_str = f"('{book_codes[0]}')"
            else:
                book_codes_str = str(book_codes)
            # 查询完整的图书信息（包含newbook表所需的所有字段）
            query_full_info = f"""
            SELECT * FROM book
            WHERE BookCode IN {book_codes_str}
            """
            # 获取完整图书数据
            df_full_info = pd.read_sql(query_full_info, engine)
            # 将数据插入newbook表
            df_full_info.to_sql('newbook', engine, if_exists='append', index=False)
            print(f"\n✅ 成功将 {len(df_full_info)} 条完整图书数据插入到newbook表")
        except Exception as e:
            print(f"❌ 插入数据到newbook表出错: {e}")
    else:
        print("⚠️ 第(2)问没有查询到数据，无需插入newbook表")

try:
    engine.dispose()
    print("\n✅ 数据库连接已安全关闭")
except Exception as e:
    print(f"❌ 关闭数据库连接时出错: {e}")

✅ newbook表已成功创建（结构与book表完全相同）

✅ 成功将 1 条完整图书数据插入到newbook表

✅ 数据库连接已安全关闭